@import "../global.scss";

.estimate-ride {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .header {
    display: flex;
    justify-content: center; // Centraliza o título horizontalmente
    align-items: center;
    width: 100%;
    margin-bottom: 20px; // Espaço entre o título e o formulário

    h1 {
      font-size: $font-size-lg; // 28px
      color: $primary-color; // Blue500
      text-align: center; // Centraliza o texto
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 15px;

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        padding: 10px;
        border: 1px solid $border-color; // Light Gray
        border-radius: 5px;
        font-size: $font-size-body-lg; // 16px
        max-width: 330px;
        width: 100%; // Alinha a largura com o botão
      }
    }

    .submit-button {
      padding: 10px 15px;
      background-color: $primary-color; // Blue500
      color: $background-color; // White
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: $font-size-body-lg; // 16px;
      font-weight: bold;
      width: 100%; // Garante a mesma largura que os inputs

      &:hover {
        background-color: $secondary-color; // Yellow600
      }
    }
  }

  .error-message {
    color: $error-color; // Red500
    margin-top: 10px;
    text-align: center; // Centraliza a mensagem de erro
  }

  .suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 4px;

    li {
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        background-color: $hover-background-color;
      }
    }
  }

  // Responsividade para 1366px
  @media (max-width: $breakpoint-desktop) {
    .header h1 {
      font-size: $font-size-md; // 24px
    }

    .form {
      max-width: 350px;

      .input-group input {
        font-size: $font-size-body-md; // 14px
      }

      .submit-button {
        font-size: $font-size-body-md; // 14px
      }
    }
  }

  // Responsividade para 920px
  @media (max-width: $breakpoint-tablet) {
    .header {
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: $font-size-subhead-lg; // 16px
      }
    }

    .form {
      max-width: 300px;

      .input-group input {
        font-size: $font-size-body-sm; // 12px
      }

      .submit-button {
        padding: 8px 12px;
        font-size: $font-size-body-sm; // 12px
      }
    }
  }

  // Responsividade para 360px
  @media (max-width: $breakpoint-mobile) {
    padding: 10px;

    .header {
      h1 {
        font-size: $font-size-subhead-md; // 14px
      }
    }

    .form {
      max-width: 280px;

      .input-group input {
        font-size: $font-size-body-sm; // 12px
      }

      .submit-button {
        padding: 6px 10px;
        font-size: $font-size-caption; // 12px
      }
    }
  }
}
